body{
	background-image: url(background.jpg);
}

.wrapper{
	margin:auto;
	max-width: 400px;
	/*display: block;*/
	margin-top: 300px;
	/*border:1px solid black;*/
	background-color: rgba(220,220,220,0.9);
	border-radius: 10px;
}

@media screen and (max-width: 480px){
	.wrapper{
		margin-top: 200px;
	}
}

form{
	padding: 16px
}

.input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border : 1px solid #ccc;
	box-sizing: border-box;
	font-weight: bold;
}

label
{
	max-width: 400px;
	font-weight: bold;
}